# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

.venv/
parquet_files/

# --------------------
# EEG Raw Data (avoid committing multi-GB files)
# --------------------
*.set
*.csv
EEG_data/

# --------------------
# Feature Storage
# --------------------
!*.parquet

# --------------------
# System / Editor
# --------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/